<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<div class="container">
  <div class="custom">
    <p>POC - Camera and File using angular 4</p>
  </div>


  <label class="btn btn-primary">
    <input type="file" accept="image/*" capture="environment" />
    Camera for mobile <span class="glyphicon glyphicon-camera"></span>
  </label>

  <label class="btn btn-primary">
    <input type="file"  capture="environment" />
    File <span class="glyphicon glyphicon-file"></span>
  </label>

  <div style="background-color:rgb(207, 222, 240)">
    <input type="file" name="file">
  </div>

  <label class="btn btn-primary" (click)="showcam()">
   Camera for desktop <span class="glyphicon glyphicon-camera"></span>
  </label>
  <webcam [hidden]="!isshow"></webcam>
<hr>
  
   <label class="p">Permissions</label><br><br>
   <div class="permission">
  <label class="btn btn-primary" id="getPositionBtn" (click)="getNotification()">
   Notification  <span class="glyphicon glyphicon-bell"></span>
  </label>

  <label class="btn btn-primary" id="getPositionBtn" (click)="getLocation()">
    Geolocation  <span class="glyphicon glyphicon-map-marker"></span>
  </label>

  <label class="btn btn-primary" id="getPositionBtn" (click)="getCamera()">
      <input type="file" accept="image/*" capture="environment" />
     Camera  <span class="glyphicon glyphicon-camera"></span>
  </label>

</div>

  <div class="footer">
    Virtusa
  </div>
